
<form name="editForm" role="form" novalidate ng-submit="historicize()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myActivoLabel" translate="mmmApp.activo.home.historic">Update activo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" translate="mmmApp.activo.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                   ng-model="activo.nombre"
                   required ng-minlength="4" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mmmApp.activo.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                   ng-model="activo.descripcion" readonly
            />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mmmApp.activo.newsaldo" for="field_saldo">New Saldo</label>
            <input type="currency" class="form-control" name="saldo" id="field_saldo"
                   ng-model="activo.saldo"
                   required />
            <div ng-show="editForm.saldo.$invalid">
                <p class="help-block"
                   ng-show="editForm.saldo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.saldo.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mmmApp.activo.newfecha" for="field_fecha">New Fecha</label>
            <input id="field_fecha" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="activo.fecha" is-open="datePickerForFecha.status.opened"
                   required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForFechaOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                   ng-show="editForm.fecha.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" translate="mmmApp.activo.notas" for="field_notas">Notas</label>
            <input type="text" class="form-control" name="notas" id="field_notas"
                   ng-model="activo.notas"
            />
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.historic">Historic</span>
        </button>
    </div>
</form>
